<div class="main py-2">
    <div class="section section-buttons">
        <div class="container">
            <div class="tim-title">
                <h2>Basic Components</h2>
            </div>
            <div id="buttons">
                <div class="tim-title">
                    <h3>Buttons <br><small>Pick your style</small>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-8 py">
                        <button class="btn btn-danger my-2" type="button">Default</button>

                        <button class="btn btn-danger btn-round my-2 x1" type="button">Round</button>

                        <button class="btn btn-danger btn-round my-2 x2" type="button"><i class="fa fa-heart"></i> With
                            Icon</button>

                        <button class="btn btn-danger btn-just-icon my-2 x3" type="button">
                            <i class="fa fa-heart"></i></button>

                        <button class="btn btn-danger btn-link my-2 x4" type="button">Simple</button>
                    </div>
                </div>
                <div class="tim-title fs-6">
                    <h3><small>Pick your size</small></h3>
                </div>
                <div class="row">
                    <div class="col-md-8"><button class="btn btn-outline-danger btn-sm my-2 x5 "
                            type="button">Small</button>
                        <button class="btn btn-outline-danger my-2 x5" type="button">Regular</button>
                        <button class="btn btn-outline-danger btn-lg my-2 x5" type="button">Large</button>
                    </div>
                </div>
                <div class="tim-title fs-6">
                    <h3><small>Pick your color</small></h3>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-outline-secondary btn-round my-2" type="button">Default</button>
                        <button class="btn btn-outline-primary btn-round my-2" type="button">Primary</button>
                        <button class="btn btn-outline-info btn-round my-2" type="button">Info</button>
                        <button class="btn btn-outline-success btn-round my-2" type="button">Success</button>
                        <button class="btn btn-outline-warning btn-round my-2" type="button">Warning</button>
                        <button class="btn btn-outline-danger btn-round my-2" type="button">Danger</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-secondary btn-round" type="button">Default</button>
                        <button class="btn btn-primary btn-round my-2" type="button">Primary</button>
                        <button class="btn btn-info btn-round my-2" type="button">Info</button>
                        <button class="btn btn-success btn-round my-2" type="button">Success</button>
                        <button class="btn btn-warning btn-round my-2" type="button">Warning</button>
                        <button class="btn btn-danger btn-round my-2" type="button">Danger</button>
                    </div>
                </div>
            </div><br>
            <div class="tim-title">
                <h3>Links</h3>
            </div>
            <div class="row">
                <div class="col-md-8 x6 my-2 ">
                    <a href="#" class="link-primary my-2 ">Primary link</a>
                    <a href="#" class="link-secondary">Secondary link</a>
                    <a href="#" class="link-success">Success link</a>
                    <a href="#" class="link-danger">Danger link</a>
                    <a href="#" class="link-warning">Warning link</a>
                    <a href="#" class="link-info">Info link</a>
                    <a href="#" class="link-light">Light link</a>
                    <a href="#" class="link-dark">Dark link</a>
                </div>
            </div>
            <br>
            <div class="tim-title">
                <h3>Inputs</h3>
            </div>
            <div class="row">
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" placeholder="Default" type="text">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-success">
                        <input class="form-control form-control-success" id="inputSuccess1" type="text" value="Success">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-danger">
                        <input class="form-control form-control-danger" id="inputDanger1" type="text" value="Error">
                        <div class="form-control-feedback">Sorry, that username's taken. Try another?
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input aria-describedby="basic-addon1" class="form-control" placeholder="Username" type="text">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                <i aria-hidden="true" class="fa fa-group"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="tim-title mb-3">
                        <h3>Checkboxes</h3>
                    </div>
                    <div class="form-check mb-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Unchecked
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="checkbox" value=""> Checked
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check disabled mb-2">
                        <label class="form-check-label">
                            <input class="form-check-input" disabled type="checkbox" value=""> Disabled unchecked
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input checked class="form-check-input" disabled type="checkbox" value=""> Disabled checked
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="tim-title mb-3">
                        <h3>Radio Buttons</h3>
                    </div>
                    <div class="form-check-radio">
                        <label class="form-check-label mb-2">
                            <input class="form-check-input" id="exampleRadios1" name="exampleRadios" type="radio"
                                value="option1"> Radio is off
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check-radio">
                        <label class="form-check-label mb-2">
                            <input checked="" class="form-check-input" id="exampleRadios2" name="exampleRadios"
                                type="radio" value="option2"> Radio is on <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check-radio disabled">
                        <label class="form-check-label mb-2">
                            <input class="form-check-input" disabled="" id="exampleRadios3" name="exampleRadios1"
                                type="radio" value="option3"> Disabled Radio
                            is off <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check-radio disabled">
                        <label class="form-check-label mb-2">
                            <input checked="" class="form-check-input" disabled="" id="exampleRadios4"
                                name="exampleRadios1" type="radio" value="option3">
                            Disabled Radio is on <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="tim-title">
                        <h3>Toggle Buttons</h3>
                    </div>
                    <div class="toggles1">
                        <!-- ---------------------button---------------- -->
                        <div class="bootstrap-switch bootstrap-switch-wrapper" [class.bootstrap-switch-on]="isOn"
                            [class.bootstrap-switch-off]="!isOn" (click)="toggleSwitch()" [attr.aria-pressed]="isOn">
                            <div class="bootstrap-switch-container">
                                <span class="bootstrap-switch-handle-on" *ngIf="isOn">ON</span>
                                <span class="bootstrap-switch-label">&nbsp;</span>
                                <span class="bootstrap-switch-handle-off" *ngIf="!isOn">OFF</span>
                                <!-- Hide the checkbox using CSS -->
                                <input type="checkbox" [checked]="isOn" (change)="toggleSwitch()"
                                    class="ng-untouched ng-pristine ng-valid hidden-checkbox" />
                            </div>
                        </div>
                        <!-- ---------------------button---------------- -->
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="tim-title">
                        <h3>Sliders</h3>
                    </div>
                    <!-- Simple slider -->
                    <div class="slider"></div>
                    <div class="slider-range"></div>
                    <br>

                    <!-- slider start -->

                    <!-- Slider end  -->
                </div>
            </div>
        </div>
    </div>
    <!-- menu start here -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">

                <div class="tim-title">
                    <h3>Menu</h3>
                </div>

                <div class="container">
                    <div class="row">
                        <!-- Yellow Navbar -->
                        <div class="col-md-6">
                            <nav class="navbar navbar-expand-md navbar-light bg-yellow mb-3">
                                <a class="navbar-brand" href="#">Home</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#yellowNavbar" aria-controls="yellowNavbar" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="yellowNavbar">
                                    <!-- Change ms-auto to me-auto to align items to the left -->
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownYellow"
                                                role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">Dropdown</a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownYellow">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>


                        <!-- Blue Navbar -->
                        <div class="col-md-6">
                            <nav class="navbar navbar-expand-md navbar-dark bg-blue mb-3">
                                <a class="navbar-brand" href="#">Icons</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#blueNavbar" aria-controls="blueNavbar" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="blueNavbar">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item"><a class="nav-link" href="#"><i
                                                    class="fa-regular fa-envelope"></i></a></li>
                                        <li class="nav-item"><a class="nav-link" href="#"><i
                                                    class="fa-regular fa-user"></i></a></li>
                                        <li class="nav-item ">
                                            <div class="dropdown" ngbdropdown="" placement="bottom-left">
                                                <a aria-haspopup="true" class="nav-link dropdown-toggle"
                                                    id="dropdownBasic1" ngbdropdowntoggle="" aria-expanded="false">
                                                    <i aria-hidden="true" class="fa-solid fa-gear"></i></a>
                                                <div aria-labelledby="dropdownBasic1"
                                                    class="dropdown-danger dropdown-menu-right dropdown-menu"
                                                    ngbdropdownmenu="" x-placement="bottom-left">
                                                    <a class="dropdown-item">Action - 1</a>
                                                    <a class="dropdown-item">Another Action</a><a
                                                        class="dropdown-item">Something else is here</a>
                                                    <div class="dropdown-divider"></div><a
                                                        class="dropdown-item">Separated link</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>